#count
{
    font-family: "poketch-clock-numeral","arial", sans-serif;
    font-size: 75px;
}

.card
{
    background-image: url(../../assets/image/demo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
    width: 640px;
    border-radius: 15px 50px 50px 15px;
    z-index: 1;
}

#bg
{
    position: relative;
    background-image: url(../../assets/image/bg-counter.png);
    left: 41px;
    top: 40px;
    max-width: 75%;
    height: 152%;
}