<div class="container">
    <div class="offset-2 col-6">
        <div class="card mt-5">
            <div class="card-body d-block">
                <div class="card-text text-center row mb-5">
                    <span id="count">{{ count }}</span>
                </div>
                <div class="row">
                    <button (click)="incrementCounter()" class="btn btn-dark offset-md-2 col-md-2 col-sm" style="background-image: url(../../assets/image/step-counter.png);"></button>
                    <button (click)="resetCounter()" class="btn btn-dark offset-md-2 col-md-2 col-sm" style="background-image: url(../../assets/image/cancel.png);"></button>
                </div>
            </div>
        </div>
    </div>
</div>