<div class="container">
    <div class="mt-5" style="width: 1064px; height: 684px;">
        <div class="d-flex justify-content-center align-items-center">
            <img src="../../assets/image/top-poketech.png" alt="" style="width: 100%; border-radius: 15px 15px 0 0;">
        </div>
        <div class="d-flex" style="width: 1064px; height: 100%;">
            <div>
                <img src="../../assets/image/left-poketech.png" alt="" style="height: 100%; width: 40px;">
            </div>
            <div style="width: 100%; background-color: rgb(224, 224, 224);">
                <div style="background-image: url(../../assets/image/bg-clock.png); background-size: cover; width: 100%; height: 100%; border-radius: 15px;" >
                    <span id="date" class="d-flex justify-content-center align-items-center" style="padding-top: 150px;">{{ date }}</span>
                    <br>
                    <span id="clock" class="d-flex justify-content-center align-items-center">{{ time }}</span>
                </div>
            </div>
            <div>
                <img src="../../assets/image/right-poketech.png" alt="" style="height: 100%; width: 150px;">
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img src="../../assets/image/bt-poketech.png" alt="" style="width: 100%; border-radius: 0 0 15px 15px;">
        </div>
    </div>
</div>