#main-bg
{
    width: 720px;
    height: 500px;
    background-image: url(../../assets/image/bg-counter.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#head
{
    height: 30px;
    width: 30px;
    background-color: blue;
    position: relative;
    left: 0;
    top: 0;
}