<div class="container">
    <div id="main-card" class="card my-5 bg-secondary" style="border-radius: 15px; height: 45%; margin: 25% 0 0 0;">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <img src="../../assets/image/main-bg.jpg" alt="" class="card-img-top" style="height: 60%;">
                <blockquote style="font-size: 30px;" class="text-center text-dark mx-3">Experience the nostalgia of the Pokémon Diamond™ and Pokémon Pearl™ Poketech Apps in a remake redid
                    in
                    <b>Angular</b> and some other games based on pokemon theme.</blockquote>
            </div> 
        </div>
    </div>
    <div class="row d-flex justify-content-center" id="infos">
            <div class="card col-md-3 bg-secondary">
                <div class="card-body">
                    <img src="../../assets/image/demo-clock.png" alt="" class="card-img-top">
                    <p class="text text-center"><b class="">The clock app:</b></p>
                    <p class="text-center" style=" font-size: 20px;">Using this clock make nostalgic of the original game</p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="card col-md-3 bg-secondary" style="height: 315px;">
                <div class="card-body">
                    <img src="../../assets/image/demo-calculator.png" alt="" style="height: 50%; width: 100%;">
                    <p class="text text-center"><b>The Calculator App:</b></p>
                    <p class="text-center" style=" font-size: 17px;">So much time we spent using this calculator...</p>
                </div>
            </div>
            <div class="card offset-md-1 col-md-3 bg-secondary" style="height: 315px;">
                <div class="card-body">
                    <img src="../../assets/image/demo-counter.png" alt="" class="card-img-top">
                    <p><b>Counter App:</b></p>
                    <p>For PokeRadar shiny bidoof chain counting...</p>
                </div>
            </div>
    </div>
</div>
